<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="com.lazyprod.service.io.IOServiceImpl" />
    <bean id="personDao" class="com.lazyprod.dao.person.PersonDaoSimple" >
        <constructor-arg name="ioService" ref="ioService" />
    </bean>
    <bean id="personService" class="com.lazyprod.service.person.PersonServiceImpl" >
        <constructor-arg name="personDao" ref="personDao" />
        <constructor-arg name="ioService" ref="ioService" />
    </bean>

    <bean id="quizTasksCreator" class="com.lazyprod.service.quiz.task.QuizTaskCreatorImpl" />
    <bean id="quizDao" class="com.lazyprod.dao.quiz.QuizDaoImpl" >
        <constructor-arg name="quizTaskCreator" ref="quizTasksCreator" />
        <constructor-arg name="source" ref="quizSource" />
    </bean>

    <bean id="quizTasksService" class="com.lazyprod.service.quiz.task.QuizTasksServiceImpl" >
        <constructor-arg ref="quizDao" />
    </bean>

    <bean id="quizService" class="com.lazyprod.service.quiz.QuizServiceImpl" >
        <constructor-arg name="personService" ref="personService" />
        <constructor-arg name="quizTasksService" ref="quizTasksService"/>
        <constructor-arg name="quizProcessor" ref="quizProcessor" />
        <constructor-arg name="ioService" ref="ioService" />
    </bean>

    <bean id="quizProcessor" class="com.lazyprod.service.quiz.QuizProcessorImpl" >
        <constructor-arg name="ioService" ref="ioService" />
    </bean>

    <bean id="quizSource" class="java.lang.String">
        <constructor-arg name="s" value="quiz/tasks.csv" />
    </bean>


</beans>